@tailwind base;
@tailwind components;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

* {
  background-repeat: no-repeat; /* 1 */
  padding: 0; /* 2 */
  margin: 0;
}

.btn {
  @apply rounded-md px-2 focus:ring focus:outline-none;
}

@tailwind utilities;

.thema-gray {
  background-color: #f4f6f3;
}

.thema-blue {
  background-color: #eff6ff;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
  }

  .thema-blue {
    background-color: rgb(46, 44, 44);
  }

  .thema-gray {
    background-color: #7c7c7c;
  }
  input {
    background-color: #7c7c7c;
  }
}
