@tailwind base;
@tailwind components;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

* {
  background-repeat: no-repeat; /* 1 */
  padding: 0; /* 2 */
  margin: 0;
}

.btn {
  @apply rounded-md px-2 focus:ring focus:outline-none;
}

@tailwind utilities;

.main-container {
  padding-left: 60px;
  transition: padding-left 0.2s;
}

.main-container.shrunked {
  padding-left: 200px;
}
